.custom-btn{
    width: 13rem;
    height: 4.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-white;
    transition: all .9s;
    outline: none;

    &:active, &:focus{
       border: none;
       outline: none;
    }
}